<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">
    <h2> Password Generator</h2>
  </a>
</nav>

<div class="container text-center">
<h3 class="alert alert-success">Generated Password is : {{ password }}</h3>
    <h1>New change</h1>
</div>
</body>
</html>